body {
  color: #dddddd;

  height: 100vh;
  background: linear-gradient(135deg, #000000 0%, #12476a 92%, #000000 100%);
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;

  overflow-x: hidden;
}

input {
  padding: 1em;
  background-color: black;
  color: #dddddd;
}
