.header {
  padding: 1em;
  background-color: rgb(243, 94, 8);
  display: flex;
  justify-content: center;
  text-align: center;
}

.addgastos {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-addgastos {
  background-color: #0056ff;
  border-radius: 8px;
  padding: 1em;
  border: none;
  display: flex;
  align-items: center;
}

.button-addgastos:hover {
  background-color: #05338d;
  transition: 0.3s all;
}

.gastosgenerales {
  background-color: red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 1em;
}

.categorys {
  padding: 2em;
  background-color: #0056ff;
  text-align: center;
}

.gastototal {
  text-align: center;
  font-size: 1.5em;
  padding: 0em 0.5em;
  animation: scale-up-vertical-center 1s;
}
@keyframes scale-up-vertical-center {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.addgastos > input[type="number"] {
  border: 1px solid #0056ff;
  outline: 0 none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: rgb(243, 94, 8);
  outline: 0 none;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  max-width: 800px;
  margin: auto;

  p {
    margin-bottom: 1em;
  }
}

.boton-categorias {
  background: #bcbaba;
  color: black;
  border: transparent;
  padding: 1em;
  animation: viewCategories 2s ease forwards;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.boton-categorias:hover {
  background-color: rgb(243, 94, 8);
  transition: 0.3s all;
}

.categoriesh2 {
  display: flex;
  margin: auto;
  padding: 1em;
  background-color: #bcbaba;
  color: black;
  font-weight: 600;
  border: transparent;
  border-radius: 8px;
}

.categoriesh2:hover {
  background-color: rgb(243, 94, 8);
  transition: 0.3s all;
}

.selectcategory {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1em;

  & input {
    border: 1px solid #0056ff;
  }
}

.selectcategory > button {
  padding: 1em;
  border-radius: 8px;
  border: #bcbaba solid;
  background-color: #bcbaba;
  color: black;
  font-weight: 600;
}

.selectcategory > button:hover {
  background-color: rgb(243, 94, 8);
  border: rgb(243, 94, 8) solid;
  transition: 0.3s all;
}

.contenedorgastos {
  padding: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 1em;
  margin: auto;
  animation: viewCategories 2s ease forwards;
}

@keyframes viewCategories {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contenedortotal-gastos {
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;

  & .categorias-guardadas {
    padding: 0.4em 1em;
  }
  & .buttonimagetrash {
    border: none;
    background: none;
    margin: 0.5em;
  }
  & > img {
    margin: 0.5em;
  }
}

.restadeltotal {
  text-align: center;
  padding: 2em;
  background-color: #0056ff;
  border-radius: 8px;
  padding: 1em;
  max-width: 20em;
  margin: auto;
}

@media (min-width: 300px) and (max-width: 600px) {
  .buttonimagetrash > img,
  .contenedortotal-gastos > img {
    height: 38px;
    width: 38px;
  }

  .contenedortotal-gastos {
    border: 1px rgb(255, 255, 255) solid;
  }
}

@media (max-width: 710px) {
  .selectcategory {
    flex-direction: column;
  }
  .selectcategory > input {
    width: 21em;
    margin: 0.7em;
  }

  .boton-categorias {
    padding: 0.5em;

    & .boton-categorias > img {
      width: 52px;
      height: 52px;
    }
  }
}
